/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

.DS_Store
.vscode
.yardoc
*.swp

# dotenv
# TODO Comment out this rule if environment variables can be committed
.env

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# Ignore Byebug command history file.
.byebug_history


# Make sure no PII is accidently commited
# add w/ git add --force if actually docs
*.csv
*.txt
*.xml
*.xls
*.xlst
*.xlsx
*.doc
*.docx

# Commit sample payloads file (no PII is included)
!sample_payloads.xml

# Exclude node packages
/node_modules
temp/backtrace.log
temp/error1.rb
temp/error2.rb
package.json
yarn.lock
