--query '@api.text != "private"'
--embed-mixins
--title "AcaEntities Gem"
-o doc
-r README.md
--markup-provider=redcarpet
--markup=markdown
--plugin junk
--hide-void-return
lib/**/*.rb -
ChangeLog.md CODE_OF_CONDUCT.md LICENSE.txt
